@page
@model LearningSite.Web.Pages.Account.IndexModel
@{
}

<div x-data="main">
    <h3>Account</h3>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    User Info
                </div>
                <div class="card-body">
                    <form method="POST" x-cloak>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Vm.EmailAddress"></label>
                                    <input type="text" class="form-control" asp-for="Vm.EmailAddress"
                                           placeholder="Email Address" :readonly="disabled" />
                                    <span class="text text-danger" asp-validation-for="Vm.EmailAddress"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Vm.Name"></label>
                                    <input type="text" class="form-control" asp-for="Vm.Name"
                                           placeholder="Name" :readonly="disabled" />
                                    <span class="text text text-danger" asp-validation-for="Vm.Name"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Vm.TimeZoneId"></label>
                                    <select class="form-control form-select" asp-for="Vm.TimeZoneId" asp-items="Model.TimeZoneList"
                                            id="time-zone-id" :readonly="disabled" :disabled="disabled">
                                        <option value="">Select Time Zone</option>
                                    </select>
                                    <span class="text text-danger" asp-validation-for="Vm.TimeZoneId"></span>
                                </div>

                                <div class="pt-3">
                                    <button class="btn btn-primary" type="button" x-show="disabled" x-on:click="disabled=false">
                                        Edit
                                    </button>
                                    <button class="btn btn-primary" type="submit" x-show="!disabled">
                                        Save
                                    </button>
                                    <a class="btn btn-secondary" x-show="!disabled" asp-page="/Account/Index">
                                        Cancel
                                    </a>

                                    <button class="btn btn-primary float-end" type="button"
                                            data-bs-toggle="modal" data-bs-target="#changePwdModal" x-show="disabled">
                                        Change Password
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Claims
                </div>
                <div class="card-body">
                    <table class="table table-sm table-striped table-hover">
                        <tr>
                            <td>
                                Name
                            </td>
                            <td>
                                Value
                            </td>
                        </tr>
                        @foreach (var item in Model.Claims)
                        {
                            <tr>
                                <td>@item.Key</td>
                                <td>@item.Value</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Time Zones
                </div>
                <div class="card-body">
                    <table class="table table-sm table-striped table-hover">
                        <tr>
                            <th>System Id</th>
                            <th>System Name</th>
                            <th>Iana Id</th>
                        </tr>
                        @foreach (var item in Model.TimeZones)
                        {
                            <tr>
                                <td>@item.SystemId</td>
                                <td>@item.SystemName</td>
                                <td>@item.IanaId</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Change Password Modal -->
    <div class="modal fade" id="changePwdModal" x-ref="changePwdModal" tabindex="-1"
         aria-labelledby="changePwdModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changePwdModalLabel">Change Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <partial name="_ChangePasswordForm" model="Model.ChangePasswordVm" />
            </div>
        </div>
    </div>

</div>

@section Scripts {
<script type="text/javascript">
    document.addEventListener('alpine:init', function () {
        Alpine.data('main', function () {
            return {
                disabled: @(Request.Method == "POST" ? "false" : "true"),

                init: function () {
                    var self = this;
                    self.$refs.changePwdModal.addEventListener('shown.bs.modal', function () {
                      self.$refs.changePwdModal1.focus()
                    })
                }
            }
        })
    });

</script>
}
